h1,
h2,
h3,
h4 p,
li {
  font-family: sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #08baec;
}
h1 {
  font-size: 26px;
  font-family: sans-serif;
  font-style: italic;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
  font-family: sans-serif;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
li {
  font-size: 20px;
}
footer p {
  font-size: 16px;
}
/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border: 5px solid #1098ad;
}
li:first-child {
  font-weight: bold;
}
a:link {
  color: #08baec;
  text-decoration: none;
}
